<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <section class="mainWrapper">
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <h1>Open Tickets</h1>
    <ul class="ticketList">
    <% tickets.forEach( el => { %>
            <li class='ticketItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'> Ticket: <%= el.ticket %> </span> 
                <span class='urgent'>Urgency: <%= el.urgency %> </span>
                <span class='assignedBy'>Assigned By: <%= users.find(u => u._id == el.assignedBy).userName %> </span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>
    <% if (isAdmin) { %>
        <a name="userAdmin" id="" class="btn btn-primary" href="/userAdmin" role="button">Admin Panel</a>
    <% } %>

    <form action="/tickets/createTicket" method='POST'>
        <input type="text" placeholder="Enter Ticket Item" name='ticketItem'>
        <select name="urgency" id="urgency" placeholder="Urgency">
            <option value=''>--Choose Urgency--</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>

        <select name="assignedUser" id="assignedUser" placeholder="Users">
            <option value=<%=user._id%> selected><%=user.userName%></option>
            <% users.forEach( el => { %>
                <% if (user.userName !== el.userName) { %>
                    <option value=<%=el._id%>><%=el.userName%></option>    
                <% } %>
            <% }) %>
        </select>

        <input type="submit">
    </form>

    <a href="/logout">Logout</a>
      
    <script src="js/main.js"></script>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>